@page "/todo"
@rendermode InteractiveServer

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>
<input @bind="newTodo"/>
<button @onclick="AddTodo">Add todo</button>

<ul>
    @if (todos.Any())
    {

        @foreach (var todo in todos)
        {
            <br />
            <br />
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title"/>
        }
    }
    else
    {
        <li style="list-style-type:none" class="alert-danger">Currently todos are empty! Enjoy or create a new todo:)</li>
    }
</ul>

@code {
    private List<TodoItem> todos = new();
    string newTodo = string.Empty;

    void AddTodo()
    {
        if (!string.IsNullOrEmpty(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
